body {
    background-color: burlywood;
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#battleGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin: 0 auto;
}

.battleSquare {
    background-color: green;
    border: solid 1px #101010;
    height: 100px;
    width: 100px;
}
#character {
    background-color: darkgray;
    border: solid 1px #101010;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 20px;
    transition: 350ms all;
}

.attacking {
    transition: 350ms all;
}

.enemy {
    background-color: maroon;
    border: solid 1px #101010;
    height: 20px;
    left: 270px;
    position: absolute;
    top: 120px;
    width: 20px;
}

main {
    position: relative;
}